extends ../layout/_default.pug

block page
    section.orbit.main-slider
        ul.orbit-container
            li.orbit-slide.row.expanded(style="background-image: url('upload/photo1.jpg')")
                .slide-content.small-10.small-centered.columns.text-center
                    img(src='upload/slider-logo.png' width='380')
            li.orbit-slide.row.expanded(style="background-image: url('upload/photo2.jpg')")
                .slide-content.small-10.small-centered.columns.text-center
                    img(src='upload/slider-logo.png' width='380')
    section#about-us.row(data-equalizer data-equalize-on="large")
        .large-9.large-push-1.columns.section-title
            h6 Про компанію
        .small-10.small-push-1.large-5.large-pull-0.columns.section-image(data-equalizer-watch style="background-image: url('upload/about.jpg')")
        .small-10.small-push-1.large-4.columns.section-desc(data-equalizer-watch)
            h3 Коротка історія
            p
                | це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною.
    section#team.row
        .large-9.large-push-1.columns.section-title
            h6 Посадові особи
        .small-10.small-centered.large-8.columns(data-equalizer data-equalize-on="large")
            ul#team-tabs.team-tabs.tabs.row.small-up-1.medium-up-2.large-up-4.text-center(data-tabs)
                li.tabs-title.column.column-block(data-equalizer-watch)
                    a(href='#panel1')
                        img.team-img(src='upload/team1.png')
                        h6.team-name Будзуляк Богдан
                        span.team-post Председатель Наблюдательного совета
                li.tabs-title.column.column-block(data-equalizer-watch)
                    a(href='#panel2')
                        img.team-img(src='upload/team2.jpg')
                        h6.team-name Винтонюк Игорь
                        span.team-post Председатель правления
                li.tabs-title.column.column-block(data-equalizer-watch)
                    a(href='#panel3')
                        img.team-img(src='upload/team3.png')
                        h6.team-name Стасула Василий
                        span.team-post Главный геолог
                li.tabs-title.column.column-block(data-equalizer-watch)
                    a(href='#panel4')
                        img.team-img(src='upload/team4.png')
                        h6.team-name Евтушенко Тарас
                        span.team-post Главный бухгалтер
        .team-divider
        .small-10.small-push-1.columns.team-content
            .tabs-content(data-tabs-content='team-tabs')
                #panel1.tabs-panel
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer convallis mattis convallis. Cras vitae hendrerit ipsum, ac sodales lacus. Maecenas et magna id augue rhoncus hendrerit. Proin tempus rhoncus ex sit amet ultricies. In hac habitasse platea dictumst. In rutrum tellus gravida porttitor interdum. Aenean vel pellentesque purus.
                #panel2.tabs-panel
                    p
                        | Vivamus eget metus id risus finibus luctus eget at ex. Donec euismod lacus ligula, nec aliquam urna auctor vel. Nulla tempor efficitur mollis. Integer lacinia, nulla sit amet viverra euismod, massa sapien eleifend enim, eu vulputate ligula libero id velit. Suspendisse iaculis molestie metus quis laoreet. Suspendisse potenti. Mauris at lacus eros. Fusce finibus tortor sed massa congue, quis interdum sapien facilisis. Nunc sed felis a nibh egestas mollis at et felis. Phasellus molestie purus augue, in viverra nibh vulputate et. Suspendisse eu lectus tincidunt, scelerisque libero quis, vestibulum massa. Praesent at metus id ipsum placerat placerat vel vel risus. Morbi condimentum urna ut aliquet convallis. Nam in libero facilisis, fermentum neque nec, tempor mi.
                #panel3.tabs-panel
                    p
                        | Suspendisse tristique ligula non luctus euismod. Ut hendrerit magna nulla, non elementum lacus pellentesque quis. Sed venenatis arcu eget augue semper, in dignissim libero lacinia. In non arcu quis purus gravida hendrerit. Phasellus ac est risus. Nam eleifend at tellus eget porttitor. Donec condimentum magna a dui molestie sagittis.
                #panel4.tabs-panel
                    p
                        | Suspendisse diam est, egestas eu vehicula vel, faucibus eget metus. Vivamus pretium eget est porta bibendum. Integer dignissim aliquam venenatis. Vivamus eget mi in orci accumsan dapibus vitae ut tortor. Duis dapibus tincidunt sagittis. Vivamus vel arcu quis tortor dapibus rutrum. Pellentesque lobortis consequat leo nec consectetur. Vestibulum pharetra rutrum turpis at efficitur.
    section.info-wrap.row.expanded(style="background-image: url('upload/photo1.jpg')")
        .info.small-10.small-centered.large-8.columns.text-center
            .info-single
                p.info-num 10
                p.info-desc Підприємством проведено буріння 10 свердловин
            .info-single
                p.info-num 30
                p.info-desc Виявлено геологічних структур
            .info-single
                p.info-num 597.9
                p.info-desc Загальна площа ділянок складає 597,9 кв км
    section#activity.activity.row
        .large-9.large-push-1.columns.section-title
            h6 Діяльність
        .row(data-equalizer data-equalize-on="large")
            .small-10.small-push-1.large-5.large-pull-0.columns.section-image(data-equalizer-watch style="background-image: url('upload/act1.jpg')")
            .small-10.small-push-1.large-4.columns.section-desc(data-equalizer-watch)
                .activity-title
                    span.activity-numb 01
                    span.activity-desc / Наша діяльність
                h3 Сфера діяльності
                p
                    | Suspendisse diam est, egestas eu vehicula vel, faucibus eget metus. Vivamus pretium eget est porta bibendum. Integer dignissim aliquam venenatis. Vivamus eget mi in orci accumsan dapibus vitae ut tortor. Duis dapibus tincidunt sagittis. Vivamus vel arcu quis tortor dapibus rutrum. Pellentesque lobortis consequat leo nec consectetur. Vestibulum pharetra rutrum turpis at efficitur.
        .row(data-equalizer data-equalize-on="large")
            .small-10.small-push-1.large-4.columns.section-desc(data-equalizer-watch)
                .activity-title
                    span.activity-numb 02
                    span.activity-desc / Сфера діяльності
                h3 Географія видобутку
                p
                    | Suspendisse diam est, egestas eu vehicula vel, faucibus eget metus. Vivamus pretium eget est porta bibendum. Integer dignissim aliquam venenatis. Vivamus eget mi in orci accumsan dapibus vitae ut tortor. Duis dapibus tincidunt sagittis. Vivamus vel arcu quis tortor dapibus rutrum. Pellentesque lobortis consequat leo nec consectetur. Vestibulum pharetra rutrum turpis at efficitur.
            .small-10.small-push-1.large-5.large-push-2.columns.section-image(data-equalizer-watch)
                img(src='upload/act2.png')
        .row(data-equalizer data-equalize-on="large")
            .small-10.small-push-1.large-5.large-pull-0.columns.section-image(data-equalizer-watch style="background-image: url('upload/photo2.jpg')")
            .small-10.small-push-1.large-4.columns.section-desc(data-equalizer-watch)
                .activity-title
                    span.activity-numb 03
                    span.activity-desc / дослідження
                h3 Наші дослідження
                p
                    | Suspendisse diam est, egestas eu vehicula vel, faucibus eget metus. Vivamus pretium eget est porta bibendum. Integer dignissim aliquam venenatis. Vivamus eget mi in orci accumsan dapibus vitae ut tortor. Duis dapibus tincidunt sagittis. Vivamus vel arcu quis tortor dapibus rutrum. Pellentesque lobortis consequat leo nec consectetur. Vestibulum pharetra rutrum turpis at efficitur.
    section#map.map.row
        .large-9.large-push-1.columns.section-title
            h6 карта активів
    section#partners.partners.row.expanded
        .small-10.small-centered.columns
            .row.small-up-1.medium-up-2.large-up-4.partners-list.text-center
                .column.column-block
                    img(src='upload/partner1.png')
                .column.column-block
                    img(src='upload/partner2.png')
                .column.column-block
                    img(src='upload/partner3.png')
                .column.column-block
                    img(src='upload/partner4.png')
    section#gallery
        .row
            .large-9.large-push-1.columns.section-title
                h6 галерея
        .row.small-up-1.medium-up-2.large-up-4.masonry.gallery
            .column.column-block.gallery-item
                a(href="http://placehold.it/300x400")
                    img(src='http://placehold.it/300x400')
                    .gallery-desc
                        h5 Микитинці
                        h6 2016
            .column.column-block.gallery-item
                a(href="http://placehold.it/400x300")
                    img(src='http://placehold.it/400x300')
                    .gallery-desc
                        h5 Микитинці
                        h6 2016
            .column.column-block.gallery-item
                a(href="http://placehold.it/400x300")
                    img(src='http://placehold.it/400x300')
                    .gallery-desc
                        h5 Микитинці
                        h6 2016
            .column.column-block.gallery-item
                a(href="http://placehold.it/400x300")
                    img(src='http://placehold.it/400x300')
                    .gallery-desc
                        h5 Микитинці
                        h6 2016
            .column.column-block.gallery-item
                a(href="http://placehold.it/400x300")
                    img(src='http://placehold.it/400x300')
                    .gallery-desc
                        h5 Микитинці
                        h6 2016
            .column.column-block.gallery-item
                a(href="http://placehold.it/300x400")
                    img(src='http://placehold.it/300x400')
                    .gallery-desc
                        h5 Микитинці
                        h6 2016
        .gallery-more.text-center
            a(href='#')
                p Показати ще
                img(src='upload/arrow-gal.png')
    section#documents.row
        .large-9.large-push-1.columns.section-title
            h6 документи
        .small-10.small-centered.large-11.columns
            .row.small-up-1.medium-up-2.large-up-4.documents-list
                .column.column-block
                    .row.collapse
                        .small-4.columns
                            img(src='upload/file.png')
                        .small-4.columns.doc-title Спеціальні дозволи
                    a.doc-upload(href='#') скачати
                .column.column-block
                    .row.collapse
                        .small-4.columns
                            img(src='upload/file.png')
                        .small-4.columns.doc-title Дозволи на роботи
                    a.doc-upload(href='#') скачати
                .column.column-block
                    .row.collapse
                        .small-4.columns
                            img(src='upload/file.png')
                        .small-4.columns.doc-title Поточна фінансова звітність (річна)
                    a.doc-upload(href='#') скачати
                .column.column-block
                    .row.collapse
                        .small-4.columns
                            img(src='upload/file.png')
                        .small-4.columns.doc-title Угода про конфіденційність
                    a.doc-upload(href='#') скачати
    section#proposition.proposition
        .row(data-equalizer data-equalize-on="large")
            .large-9.large-push-1.columns.section-title
                h6 пропозиція
            .small-10.small-push-1.large-pull-0.large-7.columns.proposition-form(data-equalizer-watch)
                h3.proposition-form-title Напишіть нам
                p
                    | Для подальшої співпраці, дольової участі чи інвестицій - заповніть форму
                form.form
                    .row
                        .columns
                            label Прізвище ім’я
                                input(type='text')
                        .large-7.columns
                            label Email
                                input(type='email')
                        .large-5.columns
                            label Телефон
                                input(type='text')
                        .columns
                            label Повідомлення
                                textarea(rows='5')
                        .columns
                            input.button.hollow.proposition-submit(type='submit' value='Надіслати')
            .small-10.small-push-1.large-pull-0.large-5.columns.proposition-info(data-equalizer-watch)
                h3.proposition-info-title Контакти
                .row.proposition-info-list
                    .small-2.columns
                        img(src='upload/location.png')
                    .small-10.columns
                        p 77400 Івано-Франківська область, Тисменицький район, м. Тисмениця, вул. Горбаля, 7
                    .small-2.columns
                        img(src='upload/smartphone.png')
                    .small-10.columns
                        p 067 671 20 82
                    .small-2.columns
                        img(src='upload/email-2.png')
                    .small-10.columns
                        p ttrv@i.ua
                .proposition-social
                    ul.menu
                        li
                            img(src='upload/linkedin-1.png')
                        li
                            img(src='upload/facebook-1.png')



