/*  HEADER  */
.header{
  background-color: rgba(31, 34, 37, 0.6);
}
.main-menu, .lang-switcher{
  @include menu-base;
  @include menu-direction(vertical);
}
.lang-switcher-wrap{
  position: relative;
}
.lang-switcher {
  position: absolute;
  top: 0;
  li:nth-child(2){
    margin-top: 1rem;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      transform: translateY(-100%);
      border-top: 0.5rem solid transparent;
      border-right: 0.5rem solid $white;
      border-bottom: 0.5rem solid $white;
      border-left: 0.5rem solid transparent;
    }
  }
  li:nth-child(n+2){
    display: none;
    background-color: $white;
  }
  &:hover{
    li:nth-child(n+2){
      display: block;
      animation: fadein 500ms;
    }
  }
}
@media screen and #{breakpoint(medium)} {
  .main-menu{
    @include menu-direction(horizontal);
    float: right;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

