.main-slider {
  .orbit-slide {
    height: 60vh;
    background-size: cover;
    background-position: center;
    }
  .slide-content {
    margin-top: 25vh;
    }
  }

.section-title {
  margin: 8.75rem 0 3.43rem 0;
  padding: 0 2rem;
  position: relative;
  letter-spacing: 10px;
  text-transform: uppercase;
  h6 {
    color: $medium-gray;
    }
  }

.section-image {
  background-size: cover;
  height: 20rem;
  img {
    @include absolute-center;
    }
  }

.section-desc {
  font-size: 0.875rem;
  h3 {
    margin: 3.125rem 0 2.5rem;
    font-weight: 500;
    }
  }

.team-divider {
  position: relative;
  border-bottom: 3px solid $primary-color;
  &:after {
    content: '';
    height: 12px;
    width: 20px;
    background-image: url('../upload/team-arr.png');
    background-size: cover;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    }
  }

.team-tabs {
  .team-img {
    border-radius: 50%;
    width: 7rem;
    }
  .is-active {
    position: relative;
    .team-img {
      border: 3px solid $primary-color;
      }
    }
  }

.team-name {
  margin: 0.9rem 0;
  font-size: 0.9rem;
  }

.team-post {
  line-height: 1.5;
  }

.team-content {
  @include grid-column-gutter(0);
  padding-top: 1.5rem;
  }

.info-wrap {
  margin-top: 7rem;
  background-size: cover;
  }

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.7rem 0;
  }

.info-single {
  margin: 1.7rem;
  }

.info-num {
  font-size: 4.5rem;
  color: $primary-color;
  font-family: 'GothamPro-Bold';
  }

.info-desc {
  color: $white;
  font-size: 0.875rem;
  }

.activity {
  .section-desc, .section-image {
    margin-bottom: 3.75rem;
    }
  }

.activity-title {
  margin: 3.75rem 0 2.75rem;
  color: $light;
  }

.activity-numb {
  font-size: 3.75rem;
  margin-right: 1rem;
  }

.activity-desc {
  font-size: 1rem;
  text-transform: uppercase;
  }

.map-wrap {
  display: flex;
  overflow-x: scroll;
  }

.act-map {
  position: relative;
  img {
    display: block;
    max-width: initial;
    }
  .location {
    position: absolute;
    img {
      transform: scale(0.7);
      transform-origin: center bottom;
      }
    .location-info {
      position: absolute;
      bottom: 65%;
      left: 110%;
      width: 13rem;
      display: none;
      padding: 1rem;
      background: $white;
      color: #51838b;
      h5 {
        color: #51838b;
        }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
        border-top: 0.5rem solid transparent;
        border-right: 0.75rem solid $white;
        border-bottom: 0.5rem solid $white;
        border-left: 0.75rem solid transparent;
        }
      }
    &:hover {
      img {
        animation: scale 300ms;
        transform: scale(1);
        }
      .location-info {
        animation: location-fadein 600ms;
        display: block;
        }
      }
    }
  }

@keyframes location-fadein {
  0%, 50% {
    opacity: 0;
    }
  100% {
    opacity: 1;
    }
  }

@keyframes scale {
  0% {
    transform: scale(0.7);
    }
  100% {
    transform: scale(1);
    }
  }

.partners {
  margin-top: 8.75rem;
  padding: 2.75rem 0 1.5rem;
  background: $very-light;
  }

.gallery {
  img {
    display: block;
    }
  }

.gallery-item {
  .gallery-desc {
    position: absolute;
    top: 1rem;
    right: 2rem;
    bottom: 1rem;
    left: 2rem;
    opacity: 0;
    transition: opacity 300ms linear;
    background: transparentize($white, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
  &:hover {
    .gallery-desc {
      opacity: 1;
      }
    }
  }

.gallery-more {
  display: flex;
  justify-content: center;
  font-family: "GothamPro-Bold";
  text-transform: uppercase;
  margin-top: 1rem;
  }

.partners-list, .documents-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }

.doc-title {
  float: left;
  }

.doc-title, .doc-upload {
  font-family: "GothamPro-Bold";
  font-size: rem-calc(14);
  }

.doc-upload {
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  border-bottom: 3px solid $primary-color;
  &:after {
    content: url('../upload/download-link.png');
    margin-left: 1rem;
    }
  }

.proposition {
  margin-top: 8.75rem;
  position: relative;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    }
  &:before {
    background-image: url('../upload/photo2.jpg');
    background-size: cover;
    top: 0;
    bottom: 60%;
    }
  &:after {
    top: 40%;
    bottom: 0;
    }
  .section-title {
    h6 {
      color: $white;
      }
    }
  }

.proposition-form, .proposition-info {
  padding: 2rem;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.41);
  }

.proposition-form {
  background: $white;
  input, input:focus, textarea {
    border-bottom: 1px solid $light;
    }
  }

.proposition-form-title, .proposition-info-title {
  font-family: 'GothamProNarrow-Medium';
  }

.proposition-form-title {
  position: relative;
  margin-bottom: rem-calc(30);
  &:after {
    content: url('../upload/email.png');
    position: absolute;
    right: 0;
    }
  }

.proposition-submit.button.hollow {
  font-family: "GothamProNarrow-Bold";
  text-transform: uppercase;
  float: right;
  padding: 1.25rem 2.5rem;
  border-width: 2px;
  color: $black;
  }

.proposition-info {
  background-color: #196a83;
  position: relative;
  &:after {
    content: url(../upload/gas-inv.png);
    position: absolute;
    right: 0;
    bottom: 0;
    }
  }

.proposition-info-title, .proposition-info-list {
  color: $white;
  }

.proposition-info-list {
  margin-top: 3.75rem;
  .columns {
    margin-bottom: 2.75rem;
    }
  img {
    float: right;
    }
  }

.proposition-social {
  li {
    padding-right: 2rem;
    }
  }

@media screen and #{breakpoint(medium)} {
  .section-title {
    &:after {
      content: '';
      width: 8.5rem;
      border-bottom: 1px solid rgba(138, 138, 138, 0.5);
      position: absolute;
      bottom: 0;
      right: 2rem;
      }
    }

  .partners {
    padding: 3.75rem 0 1.875rem;
    }

  .proposition-form, .proposition-info {
    padding: 4rem 5rem;
    }

  .gallery {
    margin: 0 1rem;
    }
  }

@media screen and #{breakpoint(large)} {
  .section-title {
    padding: 0;
    margin: 9.375rem 0 3.75rem 0;
    &:after {
      right: 0;
      }
    }
  .section-desc {
    float: left;
    padding: 2.5rem 0;
    h3 {
      margin: 0 0 1.5rem 0;
      font-weight: 500;
      }
    }
  .team-tabs {
    .tabs-title {
      @include grid-column-margin(0, 0);
      padding-bottom: 2rem;
      position: relative;
      &.is-active {
        &:after {
          content: '';
          height: 20px;
          width: 20px;
          background: $white;
          border-right: 3px solid $primary-color;
          border-bottom: 3px solid $primary-color;
          position: absolute;
          bottom: -12px;
          left: 50%;
          transform: translate(-50%, 0) rotate(45deg);
          z-index: 2;
          }
        }
      }
    }
  .team-divider {
    &:after {
      display: none;
      }
    }

  .info {
    flex-wrap: nowrap;
    }

  .activity-title {
    margin: 0 0 2.75rem;
    }

  .map-wrap {
    justify-content: center;
    overflow-x: auto;
    }

  .partners {
    margin-top: 9.375rem;
    padding: 1.875rem 0 0;
    }

  .gallery {
    margin: 0 auto;
    }

  .proposition {
    margin-top: 9.375rem;
    padding-bottom: 1rem;
    &:before {
      top: 0;
      bottom: 30%;
      }
    &:after {
      top: 70%;
      bottom: 0;
      }
    }

  .proposition-form, .proposition-info {
    padding: 3.75rem 5.625rem;
    }

  .proposition-submit.button.hollow {
    padding: 1rem 3.75rem;
    }

  .proposition-info {
    left: 0;
    }
  }