header.header
    .row.small-collapse.large-uncollapse.header-content
        .large-2.columns.show-for-large
            img.logo(src='upload/logo.png' alt='logo')
        .small-8.large-9.columns.main-menu-wrap
            .free-space
            img.hide-for-large.float-center.logo-mobile(src='upload/logo-mobile.png' alt='logo')
            ul.main-menu
                li.menu-item
                    a(href='#about-us') Про нас
                li.menu-item
                    a(href='#team') Посадові особи
                li.menu-item
                    a(href='#activity') Діяльність
                li.menu-item
                    a(href='#map') Карта активів
                li.menu-item
                    a(href='#gallery') Галерея
                li.menu-item
                    a(href='#documents') Документи
                li.menu-item
                    a(href='#proposition') Пропозиція
        .small-3.large-1.columns.lang-switcher-wrap
            ul.lang-switcher
                li
                    a(href='#') Укр
                li
                    a(href='#') Eng
                li
                    a(href='#') Pl
        .small-3.columns.hide-for-large.float-right
            img.menu-icon-mobile(src='upload/menu-icon.png' alt='menu')