header.header
	.row.collapse.medium-uncollapse.header-content
		.large-2.columns.show-for-medium
			img.logo(src='upload/logo.png' alt='logo')
		.small-8.large-9.columns.main-menu-wrap
			.free-space
			img.show-for-small-only.logo-mobile(src='upload/logo-mobile.png' alt='logo')
			ul.main-menu
				li.menu-item
					a(href='#') Про нас
				li.menu-item
					a(href='#') Посадові особи
				li.menu-item
					a(href='#') Діяльність
				li.menu-item
					a(href='#') Карта активів
				li.menu-item
					a(href='#') Галерея
				li.menu-item
					a(href='#') Документи
				li.menu-item
					a(href='#') Пропозиція
		.small-3.large-1.columns.lang-switcher-wrap
			ul.lang-switcher
				li
					a(href='#') Укр
				li
					a(href='#') Eng
				li
					a(href='#') Pl
		.small-3.columns.show-for-small-only
			img.show-for-small-only.menu-icon-mobile(src='upload/menu-icon.png' alt='menu')