header.header
    .row
        .large-2.columns
            img.logo(src='upload/logo.png' alt='logo')
        .large-9.columns
            ul.main-menu
                li.menu-item
                    a(href='#') Про нас
                li.menu-item
                    a(href='#') Посадові особи
                li.menu-item
                    a(href='#') Діяльність
                li.menu-item
                    a(href='#') Карта активів
                li.menu-item
                    a(href='#') Галерея
                li.menu-item
                    a(href='#') Документи
                li.menu-item
                    a(href='#') Пропозиція
        .large-1.columns.lang-switcher-wrap
            ul.lang-switcher
                li
                    a(href='#') Укр
                li
                    a(href='#') Eng
                li
                    a(href='#') Pl